body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  /* height: 30em; */
}

label {
  margin-bottom: 10px;
}

select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  width: 200px;
  margin-bottom: 20px;
}

button[type="submit"] {
  margin-top: 20px;
}

button[type="button"] {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin: 0 auto;
  font-size: 16px;
  margin-top: 3em;
  text-decoration: none;
}

/* Style pour le corps de la page */
body {
  background-color: #f2f2f2;
}

/* Style pour la zone d'identification */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

/* Style pour les étiquettes */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Style pour les champs de saisie */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  font-size: 16px;
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* Style pour le bouton "S'inscrire" */
button[type="submit"] {
  background-color: #008CBA;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  width: 100%;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
